.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .name {
  padding-bottom: 8vh;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--color-lightWhite);
  text-align: center;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end);
}

.sub-name {
  font-weight: 300;
  font-size: 3rem;
  font-style: italic;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.home .start {
  background-color: none;
}

.home .start button {
  outline: none;
  border: none;
  padding: 15px 40px 15px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid var(--color-green);
  transition: .5s;
  background-color: var(--color-green);
  box-shadow: 0 0 40px var(--color-green);
  color: var(--background-color);
}

.home .start button:hover {
  background-color: var(--color-magenta);
  box-shadow: 0 0 40px var(--color-magenta);
  border: 3px solid var(--color-magenta);
}

.home .start button .fa-google-play {
  color: var(--color-magenta);
}

.home .start button:hover .fa-google-play {
  color: var(--color-green);
}

.home .start button .fa-google-play {
  font-size: 1.1rem;
}

@media screen and (max-width: 720px) {
  .home .name {
    font-size: 2.8rem;
  }

  .sub-name {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 620px) {
  .home .name {
    font-size: 2.5rem;
  }

  .sub-name {
    font-size: 1.9rem;
  }

  .home .start button {
    padding: 12px 30px 12px 30px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 420px) {
  .home .name {
    font-size: 2rem;
  }

  .sub-name {
    font-size: 1.6rem;
  }

  .home .start button {
    padding: 10px 25px 10px 25px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .home .name {
    font-size: 1.7rem;
  }

  .sub-name {
    font-size: 1.3rem;
  }

  .home .start button {
    padding: 8px 21px 8px 21px;
    font-size: 1rem;
  }
}