.overview {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview .bar {
  height: 15vh;
}

.overview .title {
  width: 350px;
  padding: 15px 40px 15px 40px;
  background-color: var(--background-color);
  border-radius: 20px;
  font-size: 1.5rem;
  border: 3px solid var(--color-green);
  color: var(--color-lightWhite);
  font-weight: bold;
  transition: all 0.3s;
}

.rivaldo {
  border-radius: 40px;
  background-color: var(--background-color);
  box-shadow: var(--color-black) 0px 3px 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rivaldo span {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 0px 5px 0px;
}

.chave-0 {
  color: var(--color-orange);
}

.chave-1 {
  color: var(--color-orange);
}
.rivaldo .line {
  padding-left: 30px;
}

.key {
  color: var(--color-purpleLight);
}

.two-point {
  color: var(--color-magenta);
}

.value {
  color: var(--color-yellow);
}

.comma {
  color: var(--color-lightWhite);
}

.number {
  color: var(--color-blue);
}

.divider-overview {
  background-color: var(--color-green);
  height: 3px;
  width: 100px;
  transition: all 0.3s;
}

@media screen and (max-width: 820px) {
  .rivaldo span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 720px) {
  .rivaldo span {
    font-size: 1rem;
  }

  .overview .title {
    font-size: 1.3rem;
    width: 315px;
  }
}

@media screen and (max-width: 620px) {
  .rivaldo span {
    font-size: 0.9rem;
  }

  .overview .title {
    font-size: 1.1rem;
    width: 280px;
  }
}

@media screen and (max-width: 420px) {
  .rivaldo span {
    font-size: 0.8rem;
  }

  .overview .title {
    font-size: 1rem;
    width: 262px;
  }
}

@media screen and (max-width: 360px) {
  .rivaldo span {
    font-size: 0.7rem;
  }

  .overview .title {
    font-size: 0.9rem;
    width: 245px;
  }
}
