.projects {
  width: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .title {
  width: 250px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 30px 15px 30px;
  background-color: var(--background-color);
  border-radius: 20px;
  font-size: 1.5rem;
  border: 3px solid var(--color-green);
  color: var(--color-lightWhite);
  font-weight: bold;
}

.projects .title > div {
  width: 100%;
  display: flex;
}

.projects .title .cd {
  padding: 0px 10px 0px 10px;
}

.projects .project {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.article .link {
  position: absolute;
  align-self: flex-end;
}

.article .link a {
  text-decoration: none;
  color: var(--color-magenta);
}

.article .link a:hover {
  text-decoration: none;
  color: var(--color-green);
}

.article .project-name {
  text-align: left;
  font-size: 1.5rem;
  color: var(--color-lightWhite);
  font-weight: bold;
  padding-bottom: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: var(--color-black) 0px 3px 8px;
  transition: .5s;
}

.article .project-description ul li i{
  color: var(--color-green);
}

.pizza .article:hover {
  box-shadow: var(--color-yellow) 0px 3px 8px;
}

.css-studies .article:hover {
  box-shadow: #b260c7 0px 3px 8px;
}

.word-search .article:hover {
  box-shadow: #261153 0px 3px 8px;
}

.textando .article:hover {
  box-shadow: var(--color-purpleUltraLight) 0px 3px 8px;
}

.gitdex .article:hover {
  box-shadow: #183268 0px 3px 8px;
}

.pizza .progress-done { background: var(--color-yellow); }
.textando .progress-done { background: var(--color-purpleUltraLight); }
.gitdex .progress-done { background: #183268; }
.css-studies .progress-done { background: #b260c7; }
.word-search .progress-done { background: #261153; }

.pizza .progress-text .percentage, .pizza .progress-text .percentage i {
  color: var(--color-yellow);
}

.textando .progress-text .percentage, .textando .progress-text .percentage i {
  color: var(--color-purpleUltraLight);
}

.gitdex .progress-text .percentage, .gitdex .progress-text .percentage i {
  color: #355caf;
}

.css-studies .progress-text .percentage, .css-studies .progress-text .percentage i {
  color: #b260c7;
}

.word-search .progress-text .percentage, .word-search .progress-text .percentage i {
  color: var(--color-lightWhite);
}

.pizza .progress-text { color: var(--background-color);}
.textando .progress-text { color: var(--background-color); }
.gitdex .progress-text { color: var(--color-lightWhite); }
.css-studies .progress-text { color: var(--color-lightWhite);}
.word-search .progress-text { color: var(--color-lightWhite);}

.article .project-name .number {
  color: var(--color-green);
}

.article .project-description ul li{
  list-style: none;
  color: var(--color-lightWhite);
  font-weight: 400;
  font-size: 1.2rem;
}

.project .container {
  position: relative;
  width: 360px;
  height: 640px;
  opacity: 0.8;
  transform: rotate(-30deg) skew(25deg) scale(.7);
  transition: 0.5s;
  border-radius: 15px;
  cursor: pointer;
}

.css-studies .container {
  background: #b260c7;
  box-shadow: 0 0 40px #b260c7;
}

.word-search .container {
  background: #261153;
  box-shadow: 0 0 40px #261153;
}

.pizza .container {
  background: var(--color-yellow);
  box-shadow: 0 0 40px var(--color-yellow);
}

.textando .container {
  background: var(--color-purpleUltraLight);
  box-shadow: 0 0 40px var(--color-purpleUltraLight);
}

.gitdex .container {
  background: #183268;
  box-shadow: 0 0 40px #183268;
}

.container a {
  text-decoration: none;
}

.container img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
  border-radius: 15px;
}

.container:hover img:nth-child(3) {
  transform: translate(60px, -60px);
  opacity: 1;
}

.container:hover img:nth-child(2) {
  transform: translate(40px, -40px);
  opacity: .75;
}

.container:hover img:nth-child(1) {
  transform: translate(20px, -20px);
  opacity: .5;
}
