:root {
  --background-color: #0a0518;
  --color-lightWhite: #e6e6e6;
  --color-black: #191622;
  --color-lightBlack: #4d4d4d;
  --color-white: #bfbfbf;
  --color-purple: #483c67;
  --color-purpleLight: #8d79ba;
  --color-purpleUltraLight: #bd93f9;
  --color-red: #ff5555;
  --color-lightRed: #ff6e67;
  --color-green: #50fa7b;
  --color-lightGreen: #5af78e;
  --color-yellow: #effa78;
  --color-lightYellow: #eaf08d;
  --color-orange: #ffbb00;
  --color-magenta: #ff79c6;
  --color-lightMagenta: #ff92d0;
  --color-blue: #3ebbd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-green) #333333;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230a0518'/%3E%3Cstop offset='1' stop-color='%2313091f'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230f071c'/%3E%3Cstop offset='1' stop-color='%2313091f'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  cursor: url(../assets/img/dry-clean.png), auto;
}

body::-webkit-scrollbar {
  background-color: #333;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-green);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-magenta);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bar {
  width: 3px;
  height: 100%;
  background-color: var(--color-green);
  transition: all 0.3s;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
  transition: all 0.3s;
}

.divider span {
  height: 3px;
}

.divider span:first-child,
.divider span:last-child {
  width: 50%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.divider span:first-child {
  background-image: linear-gradient(90deg, transparent, var(--color-green));
}

.divider span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-green);
  padding: 0px 10px 0px 10px;
}

.divider span:last-child {
  background-image: linear-gradient(90deg, var(--color-green), transparent);
}

.magenta {
  color: var(--color-magenta);
}

.orange {
  color: var(--color-orange);
}

.white {
  color: var(--color-lightWhite);
}

.yellow {
  color: var(--color-yellow);
}

.light-green {
  color: var(--color-lightGreen);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--color-lightWhite);
  color: var(--background-color);
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -150%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.3rem;
}

.tooltip .tooltiptext p {
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.progress {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	position: relative;
	margin: 10px 0;
	height: 20px;
	width: 100%;
}

.progress-done {
  position: absolute;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	transition: 0.5s ease 0.3s;
}

.progress-text {
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .tooltip .tooltiptext {
    left: 0%;
  }
}

@media screen and (max-width: 620px) {
  .tooltip .tooltiptext {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .tooltip .tooltiptext {
    font-size: 0.9rem;
  }
}